.main{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "header"
        "content"
        "footer";
    grid-template-rows: 120px auto 100px;
}

.header{
    width: 100%;
    grid-area: "header";
    display: flex;
    text-align:center;
    padding: 15px;
    align-items: center;
    background-color: green;
    box-shadow: 0px 5px 50px black;
}

.header h1{
    font-size: 35px;
    width: 100%;
    font-weight: 500;
}

.content{
    width: 100%;
    grid-area: "content";
    padding: 15px;
    display: flex;
    text-align:center;
    align-items: center;
    flex-direction: column;
}

.container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    border: 3px solid green;
    border-radius: 10%;
    width: 500px;
    box-shadow: 0px 0px 50px green;
}

.title{
    font-size: 25px;
    width: 100%;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form{
    width: 100%;
}

.footer{
    width: 100%;
    grid-area: "footer";
    padding: 15px;
    display: flex;
    text-align:center;
    align-items: center;
    background-color: green;
    box-shadow: 0px 5px 50px black;
}

.footer p{
    font-size: 25px;
    width: 100%;
    font-weight: 500;
}